<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.randomgametpnv.sip">

    <application>
        <activity android:name=".CallActivity">
            <intent-filter>
                <action android:name="android.SipCall.INCOMING_CALL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>